.box {
    width: 100%;
    background-color: #0F1527;
    .content {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 100px;
        h1 {
            font-size: 40px;
            font-weight: bold;
            color: #DEF5FF;
            line-height: 80px;
        }
        .more {
            background: #0260FF;
            border-radius: 5px;
            width: 185px;
            height: 59px;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            line-height: 59px;
            cursor: pointer;
            margin-top: 20px;
        }
        .more:hover {
            opacity: 0.9;
        }
        .imgs {
            width: 100%;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width:560px) {
    .box {
        .content {
            width: 100%;
            h1 {
                font-size: 20px;
                line-height: 39px;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .box {
        .content {
            width: 1200px;
            h1 {
                font-size: 66px;
                font-weight: bold;
                color: #DEF5FF;
                line-height: 119px;
            }
        }
    }
}