/* @import '~rsuite/dist/styles/rsuite-dark.css'; */

@import '~viewerjs/dist/viewer.css';
@font-face {
    /* font-properties */
    font-family: Alphakind;
    src: url('./typeface/Alphakind.woff'), url('./typeface/Alphakind.ttf'), url('./typeface/Alphakind.eot');
    /* IE9 */
}

@font-face {
    font-family: 'iconfont';
    /* Project id 2520581 */
    src: url('//at.alicdn.com/t/font_2520581_usup52utowf.woff2?t=1624528847500') format('woff2'), url('//at.alicdn.com/t/font_2520581_usup52utowf.woff?t=1624528847500') format('woff'), url('//at.alicdn.com/t/font_2520581_usup52utowf.ttf?t=1624528847500') format('truetype'), url('//at.alicdn.com/t/font_2520581_usup52utowf.svg?t=1624528847500#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: cadetblue;
}

html {
    font-size: 120px;
}

@media screen and (max-width:1200px) {
    html {
        font-size: 10vw;
    }
}

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.3;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

.autobtn {
    min-width: 1.4rem;
    min-height: 0.5rem;
    background-color: #0260FF;
    color: #ffffff;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.15rem;
    padding: 0.2rem;
}

.autobtn:hover {
    opacity: 0.7;
}

.card {
    background: #151C30;
    padding: 0.208rem;
    border-radius: 5px;
    width: 100%;
}

ul {
    list-style: none;
}

#zmageControlRotateLeft,
#zmageControlRotateRight,
#zmageControlZoom,
#zmageControlClose {
    width: 48px !important;
    height: 48px !important;
}

#zmageControlRotateLeft>svg,
#zmageControlRotateRight>svg,
#zmageControlZoom>svg,
#zmageControlClose>svg {
    width: 48px !important;
    height: 48px !important;
}

.text-ellipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

a:hover {
    cursor: pointer;
}

.autoiconbox {
    width: 20px;
    text-align: center;
    font-size: 16px;
}

.showText {
    white-space: pre-wrap;
}